<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam animi blanditiis unde repellat ex iste tenetur vitae numquam aut enim dolor velit deserunt vel eligendi debitis esse, cum officia ea!</p>
<%- include("footer") -%> 